{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="col-md-4 text-center fs-5">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for orderItem in order %}
                    <tr>
                        <td class="col-md-4">
                            <div class="product-container p-3 text-center fs-5">
                                <span>{{ orderItem.orderPriceBrutto }}</span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
